@use "../base";
@use "../abstracts";
.achieve {
  background-color: base.$second-bg-color;
  padding: 12rem 0;
  &__top {
    width: 730px;
  }
  &__heading {
    color: base.$main-text-color;
  }
  &__description {
    color: base.$main-text-color;
  }
  &__post {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 580px 1200px;
    grid-gap: 3.3rem;
    padding-top: 4.5rem;
  }
  &__item-inner {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 2.8rem;
    position: relative;
    &--modify {
      margin-top: 3.1rem;
    }
  }
  &__content {
    padding: 4.1rem 3rem 0;
  }
  &__image {
    width: 100%;
    height: 341px;
    object-fit: cover;
    display: block;
    border-radius: 2.8rem;
    &--second {
      height: 650px;
    }
  }
  &__title {
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.5;
    color: base.$main-text-color;
    margin-bottom: 1rem;
  }
  &__desc {
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.21;
    width: 220px;
    color: base.$main-text-color;
    &--lg {
      font-size: 4rem;
      color: #398b3f;
    }
  }
  &__item-info {
    margin-top: 11rem;
    width: 22rem;
    &--top {
      text-align: center;
      margin-bottom: 5.4rem;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__item-title {
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.5;
    color: base.$main-text-color;
    text-transform: capitalize;
    margin-top: 2.5rem;
    &--top {
      font-size: 3rem;
      margin-top: 0;
    }
  }
  &__item-desc {
    font-size: 4rem;
    font-weight: bold;
    line-height: 1.17;
    color: #398b3f;
    text-transform: capitalize;
    &--top {
      font-size: 9.6rem;
    }
  }
  &__item-about {
    font-size: 4rem;
    font-weight: bold;
  }
  &__badge {
    min-width: 12rem;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: -0.03em;
    color: base.$main-text-color;
    background-color: #fff;
    padding: 0.5rem 1rem;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    border-radius: 3rem;
    cursor: pointer;
    &::before {
      content: "";
      width: 4.7rem;
      height: 4.7rem;
      border-radius: 50%;
      background-color: #a5ee7e;
      display: inline-block;
      position: absolute;
      right: -23%;
      top: -9%;
      z-index: 10;
    }
  }
  // Responsive
  @include abstracts.maxWidth(1023.98px) {
    padding: 8rem 0;
    &__post {
      grid-template-columns: repeat(2, 1fr);
      padding: 2rem;
    }
    &__badge {
      min-width: 17rem;
      top: 85%;
      &::before {
        display: none;
      }
    }
  }
  @include abstracts.maxWidth(767.98px) {
    padding: 4rem 0;
    &__top {
      width: 330px;
    }
    &__post {
      display: block;
    }
    &__item {
      padding-bottom: 1rem;
      margin-bottom: 1rem;

      &:not(:last-child) {
        border-bottom: 2px solid #ccc;
        border-radius: 2px;
      }
    }
    &__item-info {
      margin-top: 4rem;
      text-align: center;
    }
  }
  @include abstracts.maxWidth(575.98px) {
    &__top {
      width: 20rem;
    }
    &__heading {
      font-size: 3.2rem;
    }
  }
}
