// COLORS
$main-bg-color: #f6f2ef;
$second-bg-color: #e9e8e2;
$main-text-color: #113e2c;
$main-text-color-hover: #14402f;
$second-text-color: #d3f188;
$third-text-color: #fffef4;
// FONTS
$sub-font: "Source Sans Pro", sans-serif;
